/*font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif;*/

header {
  background-color: #E5F3F2;
  padding: 30px;
  text-align: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  margin-bottom: 30px;
}

#title-idea {
  color: #00A79D;
}

#title-box {
  color: #6D6E71;
}

#idea-submission-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  max-width: 700px;
  margin: auto;
}

input {
  font-size: 20px;
  width: 100%;
}

#idea-save-button {
  background-color: #00A79D;
  color: white;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

main {
  padding: 30px;
  max-width: 700px;
  margin: auto;
}

#idea-list {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.idea {
  border-bottom: 2px solid #D1D3D4;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
}

.idea-title {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  border: none;
}

.delete-idea-button {
  background-image: url("../img/delete.svg");
  height: 25px;
  right: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.delete-idea-button:hover {
  background-image: url("../img/delete-hover.svg");
  cursor: pointer;
}

.idea-body {
  color: #939598;
  font-family: 'open sans', sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
  border: none;
}

.idea-promote-button {
  background-image: url("../img/upvote.svg");
  display: inline-block;
  height: 25px;
  width: 25px;
}

.idea-promote-button:hover {
  background-image: url("../img/upvote-hover.svg");
  cursor: pointer;
}

.idea-demote-button {
  background-image: url("../img/downvote.svg");
  display: inline-block;
  height: 25px;
  width: 25px;
}

.idea-demote-button:hover {
  background-image: url("../img/downvote-hover.svg");
  cursor: pointer;
}

.idea-quality-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.idea-quality {
  /*display: inline-block;*/
}

.idea-quality-label {
  color: #6D6E71;
  /*display: inline-block;*/
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.idea-quality-value {
  color: #6D6E71;
  font-family: 'open sans', sans-serif;
  font-size: 14px;
}
